<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-message-viewer.ZPM">
    <Module>
      <Name>iris-message-viewer</Name>
      <Version>1.0.2</Version>
      <Description>A new approach for the Interoperability Message Viewer</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="diashenrique.messageviewer.MessageViewer.cls"/>
      <Resource Name="diashenrique.messageviewer.util.InstallerProduction.cls"/>
      <CSPApplication
        Url="/csp/msgviewer"
        Path="/src/csp"
        Directory="{$cspdir}/msgviewer"
        ServeFiles="1"
        Recurse="1"
        CookiePath="/csp/msgviewer"
        UseCookies="2"
        MatchRoles=":{$dbrole}"
        PasswordAuthEnabled="32"
        UnauthenticatedEnabled="0"
       />
    </Module>
  </Document>
</Export>
